## Jinghao Yan
## ANLY 590 HW0

## Exercise 1.1

Use LASSO regression to predict Salary from the other numeric predictors (you should omit the categorical predictors). Create a visualization of the coefficient trajectories. Comment on which are the final three predictors that remain in the model. Use cross-validation to find the optimal value of the regularization penality. How many predictors are left in that model?

In [68]:
# ---- Loading libraries ----
# - Base libraries -
import os
import sys

# - Plotting libraries -
import matplotlib.pylab as plt
import matplotlib.image as mpimg

import numpy as np

# Loading data
import pandas as pd

df = pd.read_csv('Hitters.csv')

In [69]:
df1 = df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,16,17,18]]

In [70]:
df1 = df1.rename(index=str, columns={"Unnamed: 0": "Name"})

In [72]:
df1[:5]

,Name,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,1,30,29,14,446,33,20
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,69,321,414,375,632,43,10
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,63,224,266,263,880,82,14
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,225,828,838,354,200,11,3
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,12,48,46,33,805,40,4

In [73]:
from sklearn import linear_model

## Exercise 1.2

Repeat with Ridge Regression. Visualize coeffecient trajectories. Use cross-validation to find the optimal value of the regularization penalty.

In [ ]:
from sklearn import linear_model

## Exercise 2

Short Answer. Explain in your own words the bias-variance tradeoff. What role does regularization play in this tradeoff? Make reference to your findings in number (1) to describe models of high/low bias and variance.